
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.signupForm,
.portfolio,
.home,
.statistics
{
  padding: 50px;
  left:350px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
 
 
}

body{
  font-family: 'Lato', sans-serif;
}
.portfolio{
  display: block;
  width:60%;
  margin-left: auto;
    margin-right: auto;
}

.portfolioheader{
  
  display: flex;
flex-direction: row;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 0px;
  justify-content: space-between;


}

.portfoliodetails span{
  display: block;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;

}

.portfoliosummary span{
  display: block;
  padding-left: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}


.portfoliocontent{
  display: flex;
  flex-direction: column;
  
}



.portfoliobuttons{
  display: flex;
  justify-content: space-between;
  flex-direction: row ;
}



.statistics{
  flex-direction: row;
  justify-content: flex-end;
}

.stockscontainer{
  border: 3px solid green;
  display: flex;
  padding: 32px;
  right: 20px;
 
  width:100%;
  flex-direction: column;
}

.stockspage{
  border: 3px solid blue;
  display: flex;
  width: 75%;
  align-self: end;

  position: relative;
  margin-left: auto;
  overflow: hidden;
  justify-content: flex-end;
}


.stockoptions{
  border: 3px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:250px
}


/* flex item 1 */
.stocksdropdown{

   border: 3px solid black;
  margin:0 50px;
  display: flex;
 
  flex-direction: column;

  align-items: center;
}

.stocksearchfield{
  display: flex;

  width: 50%;

  flex-direction: column;
  }
  



/* flex item 2 */
.stockchart{
  border: 3px solid black;

}
.stockfield{
  display: flex;
  flex-direction: column;
}

.stockdetails{
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   */
  border: solid 3px black;
  display : flex;
  align-items : center;
  justify-content: center;
  flex-direction: column;
}

.stockdetails h3{
color: rgb(85, 90, 90);
padding: 15px;
font-weight: 600;
}

.choosestock{
  text-align: center;
  font-weight: bold;
  
}

.optionsbutton{
  margin-top: 10px;
}

.optionlist{

 overflow-y: scroll;
  width: 100%;
}

.option{
  padding:5px
} 

.option:hover{
  font-weight: bolder;
  
} 

.option:nth-child(even){
background: #CCC
}
.option:nth-child(odd){
  background:  #FFF
  }
.option .radio{
display: none;
}





  
  /* .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    padding: 5px;
  font-size: 14px;
  }
  
  .option,
  span {
    font-size: 28px;
    text-transform: capitalize;
  }
   */
  

  input {
    padding: 10px;
    height: 20px;
    width: 500px;
    border: 1px solid purple;
    margin: 10px;
    font-size: 18px;
    text-transform: capitalize;
  }

