:global {
  @import "node_modules/office-ui-fabric-react/dist/css/fabric.css";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  font-family: "Lato", sans-serif;
  background: url(d.jpg) 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home {
  /* margin-left: auto;
  margin-right: auto;
  text-align: center;
  
   */

  margin-left: 120px;
}

/* height is set to 100 otherwise the aligment wont work */

.headermenu {
  letter-spacing: 1px;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  padding: 20px 9 20px 0;
}

:root {
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  --primary-color: #ffff;
  --overlay-color: rgba(24, 39, 51, 0.85) l;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #dadce1;
  text-decoration: none;
}

.errormessage {
  color: rgb(107, 17, 17);
  font-weight: bold;
  margin-top: 10px;
}

.dropdown-list {
  max-width: 100%;
  height: 100%;
  display: flex;
}

.unselectedPosition {
}

.selectedPosition {
  background-color: rgba(233, 64, 64, 0.6);
}

.sortedcolumn {
  color: rgba(42, 14, 95, 0.726) !important;
  font-size: 1.4em !important;
}

.position-item {
  padding: 20px;
  color: red;
}

.position-item:hover {
  filter: brightness(1.2);
}

.position-button {
  background-color: #484a4d;
  border-radius: 5px;
}

.signupbuttons Button {
  width: 80px;
  font-size: 12px;
  margin: auto;
}
.signupbuttons {
  margin: auto;
  width: 200px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.confirmpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbarstatus {
  color: white;
  display: flex;
  flex-direction: row;
}
.navbarstatus div {
  margin: 0px 10px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: 850ms;
  left: -100%;
  z-index: 1;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text span {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(128, 128, 128, 0.3);
  width: 80%;
  border-radius: 5px;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 50px;
}

.portfolio,
.statistics {
  left: 350px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.portfolioheader,
.statisticsheader {
  text-shadow: white 0px 0px 10px;
  font-weight: bold;
  display: flex;
  font-size: 1.1em;
  flex-direction: row;
  padding: 10px 5px;
  justify-content: space-between;
  width: 100%;
}

.pagetitle {
  color: #ffffff;
  text-shadow: white 0px 0px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 22px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}
.portfoliodetails span {
  display: block;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown div {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin-left: 5px;
}
.portfoliosummary span {
  display: block;
  padding-left: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.portfoliocompetition {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.portfoliocompetition div {
  margin-top: 20px;
}

.signupform {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 200px;
  min-height: 220px;
  background: rgba(170, 170, 170, 0.8);
  border: 1px solid rgb(92, 87, 87);
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.12),
    0 1px 2px 4px rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.portfoliocontent,
.statisticscontent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table-container {
  background-color: rgba(238, 235, 235, 0.61) !important;
  font-weight: bolder;
}

.table-header th {
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
}

.buttons {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.stockscontainer {
  display: flex;
  padding: 32px;
  right: 20px;
  width: 100%;
  flex-direction: column;
}

.stockpage {
  background: rgba(170, 170, 170, 0.8);
  flex-direction: column;
  display: flex;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.stockoptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 250px;
}

.stocksdropdown {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stocksearchfield {
  display: flex;
  padding-top: 10px;
  width: 50%;
  flex-direction: column;
}

.stockfield {
  display: flex;
  flex-direction: column;
  max-width: 10%;
}

.stockcontainer,
.selldialog {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.stockchart {
  margin-top: 25px;
}
.stockdetails {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   */
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.12),
    0 1px 2px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 35%;

  margin: 20px 20px;
}

.stockdetails h3 {
  color: rgb(85, 90, 90);
  padding: 15px;
  font-weight: 600;
}

.choosestock {
  text-align: center;
  font-weight: bold;
}

.optionsbutton {
  margin-top: 10px;
}

.optionlist {
  overflow-y: scroll;
  width: 100%;
}

.option {
  padding: 5px;
}

.option:hover {
  font-weight: bolder;
}

.option:nth-child(even) {
  background: #ccc;
}
.option:nth-child(odd) {
  background: #fff;
}
.option .radio {
  display: none;
}

/* .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    padding: 5px;
  font-size: 14px;
  }
  
  .option,
  span {
    font-size: 28px;
    text-transform: capitalize;
  }
   */

input {
  padding: 10px;
  height: 20px;
  width: 500px;

  margin: 10px;
  font-size: 18px;
  text-transform: capitalize;
}
